.circle-bg{
    fill: seashell;
    stroke: none;
}

.circle-progress{
    fill: none;
    stroke: green;
    stroke-linejoin: round;
    transition: stroke-dashoffset 2.5s ease;
}

.circle-text{
    font-family: Arial;
    font-size: 30px;
    font-weight: 900;
}